@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    --clr-primary: hsl(215,27.9%,16.9%);

    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 800;

    --fs-body: 0.95rem;
    --fs-primary-heading: 2.5rem;
    --fs-secondary-heading: 1.85rem;
    --fs-button: 1.05rem;

}

/* general styling */

body{
    font-size: var(--fs-body);
    color: var(--clr-primary);
}

p {
    margin-inline: auto;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.review {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.review:before{
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid 	
    hsl(217.2,91.2%,59.8%);
}



/* utility classes */

.primary-heading{
    font-size: var(--fs-primary-heading);
}

.secondary-heading{
    font-size: var(--fs-secondary-heading);
}

.font-button{
    font-size: var(--fs-button);
}

.fw-regular{
    font-weight:var(--fw-regular);
}
.fw-semi-bold{
    font-weight: var(--fw-semibold);
}
.fw-bold{
    font-weight: var(--fw-bold);
}

/* button */

.btn{
    padding: 0.75rem 2.5rem;
    color: white;
    border-radius: 0.75rem;
    letter-spacing: 0.06em;
}

/* Carousel */

.img-container{
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.img-container::before{
    position: absolute;
    content: '';
    top: -0.25rem;
    right: -0.5rem;
    width: 100%;
    height: 100%;
    background: hsl(217.2,91.2%,59.8%);
    border-radius: 50%;
}

.person-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

/* side navbar animation */

.sidebarAnimation{
    animation: width 200ms ease;
}